* {
    font-family: 'Kanit', sans-serif;
}

/* ซ่อน scrollbar ทุกเบราว์เซอร์ */
*::-webkit-scrollbar {
  display: none;
}
* {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

/* ปรับการ์ดให้เด่น */
.service-card {
  position: relative;
  z-index: 10;
}

/* ซ่อน overflow เฉพาะ container หลัก (ป้องกันหัวการ์ดโดนตัด) */
.carousel-container {
  overflow: visible !important;
}


@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(-5px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
.animate-fadeIn {
  animation: fadeIn 0.2s ease-in-out;
}